<div class="container-fluid" [ngBusy]="busy">
	<!-- Page Heading -->
	<div class="row">
		<div class="col-xl-12">
			<ol class="breadcrumb">
				<li>
					<a href="Javascript:void(0);" routerLink="/calcular/home">Calcular</a>
				</li>
				<li class="active"> Eventos </li>
			</ol>
		</div>
	</div>
	<div class="row">
		<div class="col-xl-8">
		</div>
		<div class="form-group input-group col-xl-4">
			<input type="text" class="form-control" [(ngModel)]="filterText" (keydown.Enter)="filter()">
			<span class="input-group-btn"><button class="btn btn-secondary" (click)="filter()" type="button"><i class="fa fa-search"></i></button></span>
		</div>
	</div>
	<div class="row col-xl-12">
		<div class="table-responsive">
			<table class="table table-hover table-striped table-sm">
				<thead>
					<tr>
						<th>Evento</th>
						<th>Detalhe</th>
						<th *ngIf="exibeResponsavel()" >Responsável</th>
						<th hidden>Observação</th>
						<th>Status</th>
						<th>Data</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let item of rows">
						<td>{{ item.evento }}</td>
						<td>{{ item.detalhe }}</td>
						<td *ngIf="exibeResponsavel()">{{ item.responsavel }}</td>
						<td hidden>{{ item.observacao }}</td>
						<td>{{ item.status }}</td>
						<td>{{ item.data | date:"dd/MM/yyyy" }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-xl-12 centered">
			<pagination previousText="Anterior" nextText="Próximo" firstText="Primeira" lastText="Última" [totalItems]="totalItems" [(ngModel)]="currentPage"
				[itemsPerPage]="itemsPerPage" [maxSize]="maxSize" class="pagination-sm" [boundaryLinks]="true" [rotate]="false" (numPages)="numPages = $event"
				(pageChanged)="onPageChange($event)">
			</pagination>
		</div>
	</div>
</div>