<div class="container-fluid">
	<!-- Page Heading -->
	<div class="row">
		<div class="col-xl-12">
			<ol class="breadcrumb">
				<li>
					<a href="Javascript:void(0);" routerLink="/calcular/home">Calcular</a>
				</li>
				<li class="active"> Eventos </li>
			</ol>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4">
			<div class="card card-default" *ngIf="isCalculista || isExterno">
				<div class="card-header">
					<i class="fa fa-clock-o fa-hourglass-half"></i> Atividades
				</div>
				<atividade-cmp></atividade-cmp>
			</div>
			<div class="card card-default" *ngIf="isRevisor">
				<div class="card-header">
					<i class="fa fa-search fa-fw"></i> Revisar
				</div>
				<atividade-revisar-cmp></atividade-revisar-cmp>
			</div>
			<div class="card card-default" *ngIf="isAdministrativo || isGerencial">
				<div class="card-header">
					<i class="fa fa-fw fa-clock-o"></i> Prazo
				</div>
				<prazo-servico-cmp></prazo-servico-cmp>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="card card-default" *ngIf="isCalculista || isExterno">
				<div class="card-header">
					<i class="fa fa-refresh fa-fw"></i> Refazer
				</div>
				<atividade-refazer-cmp></atividade-refazer-cmp>
			</div>
			<div class="card card-default" *ngIf="isAdministrativo || isGerencial">
				<div class="card-header">
					<i class="fa fa-fw fa-share-square-o"></i> Atribuir
				</div>
				<distribuir-servico-cmp></distribuir-servico-cmp>
			</div>
			<div class="card card-default" *ngIf="isAdministrativo || isGerencial">
				<div class="card-header">
					<i class="fa fa-fw fa-sign-out"></i> Enviar
				</div>
				<enviar-servico-cmp></enviar-servico-cmp>
			</div>

		</div>
		<div class="col-lg-4">
			<div class="card card-default" *ngIf="!isExterno">
				<div class="card-header">
					<i class="fa fa-bell fa-fw fa-birthday-cake"></i> Aniversários
				</div>
				<birthday-cmp></birthday-cmp>
			</div>
			<div class="card card-default" *ngIf="isAdministrativo || isGerencial">
				<div class="card-header">
					<a [routerLink]="['/calcular/atividade/resposavel/status']" [routerLinkActive]="['router-link-active']">
						<i class="fa fa-fw fa-bar-chart"></i> Alocação de atividades
					</a>
				</div>
				<alocacao-cmp></alocacao-cmp>
			</div>
		</div>
	</div>
</div>