<div class="login-page">
	<div class="row">
		<div class="col-lg-4 col-lg-offset-4">
			<img src="assets/img/logoCalcularOnly.png" width="164px" />
			<h1><b>CALCULAR</b></h1>
			<form role="form" (ngSubmit)="onSubmit()">
				<div class="form-content">
					<div class="form-group">
						<input [(ngModel)]="username" type="text" name="username" class="form-control input-underline" id="" autofocus placeholder="Usuário">
					</div>
					<div class="form-group">
						<input [(ngModel)]="password" type="password" name="password" class="form-control input-underline" id="" placeholder="Senha">
					</div>
				</div>
				<button type="submit" class="btn btn-primary btn-block btn-login">Entrar</button>
			</form>
		</div>
	</div>
</div>