<button class="btn btn-default" id="toggle-sidebar" type="button" (click)="eventCalled()">
    &#9776;
</button>
<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
	<ul class="list-group">
		<a [routerLink]="['home']" [routerLinkActive]="['router-link-active']" class="list-group-item">
			<i class="fa fa-fw fa-calendar-minus-o"></i> Eventos
		</a>
		<div class="nested-menu" *ngIf="isInRole('Administrativo') || isInRole('Gerencial')">
			<a class="list-group-item" (click)="addExpandClass('cliente')">
				<span><i class="fa" [class.fa-chevron-down]="showMenu === 'cliente'" [class.fa-chevron-right]="showMenu !== 'cliente'"></i>&nbsp; Cliente</span>
			</a>
			<li class="nested" [ngClass]="{'expand' : showMenu === 'cliente' }">
				<ul class="submenu">
					<li>
						<a routerLink="/calcular/cliente" [routerLinkActive]="['router-link-active']" class="list-group-item">
							<i class="fa fa-fw fa-table"></i> Cadastro
						</a>
					</li>
				</ul>
			</li>
		</div>

		<div class="nested-menu">
			<a class="list-group-item" (click)="addExpandClass('processo')">
				<span><i class="fa" [class.fa-chevron-down]="showMenu === 'processo'" [class.fa-chevron-right]="showMenu !== 'processo'"></i>&nbsp; Processo</span>
			</a>
			<li class="nested" [ngClass]="{'expand' : showMenu === 'processo' }">
				<ul class="submenu" *ngIf="isInRole('Administrativo') || isInRole('Gerencial')">
					<li>
						<a routerLink="/calcular/processo/cadastro" [routerLinkActive]="['router-link-active']" class="list-group-item">
							<i class="fa fa-fw fa-table"></i> Cadastro
						</a>
					</li>
				</ul>
				<ul class="submenu">
					<li>
						<a routerLink="/calcular/processo/notes" [routerLinkActive]="['router-link-active']" class="list-group-item">
							<i class="fa fa-fw fa-comment-o"></i> Detalhes de Processo
						</a>
					</li>
				</ul>
			</li>
		</div>

		<div class="nested-menu">
			<a class="list-group-item" (click)="addExpandClass('servico')">
				<span><i class="fa" [class.fa-chevron-down]="showMenu === 'servico'" [class.fa-chevron-right]="showMenu !== 'servico'"></i>&nbsp; Serviço</span>
			</a>
			<li class="nested" [ngClass]="{'expand' : showMenu === 'servico' }">
				<ul class="submenu" *ngIf="isInRole('Administrativo') || isInRole('Gerencial')">
					<li>
						<a routerLink="/calcular/servico/cadastro" [routerLinkActive]="['router-link-active']" class="list-group-item">
							<i class="fa fa-fw fa-table"></i> Cadastro
						</a>
					</li>
				</ul>
				<ul class="submenu" *ngIf="isInRole('Calculista')">
					<li>
						<a routerLink="/calcular/atividade/execucao" [routerLinkActive]="['router-link-active']" class="list-group-item">
							<i class="fa fa-fw fa-hourglass-half"></i> Apontamento de Horas
						</a>
					</li>
				</ul>
				<ul class="submenu" *ngIf="isInRole('Revisor')">
					<li>
						<a routerLink="/calcular/atividade/execucao" [routerLinkActive]="['router-link-active']" class="list-group-item">
							<i class="fa fa-fw fa-search"></i> Revisão
						</a>
					</li>
				</ul>
			</li>
		</div>

		<div class="nested-menu" *ngIf="isInRole('Administrativo') || isInRole('Gerencial')">
			<a class="list-group-item" (click)="addExpandClass('honorario')">
				<span><i class="fa" [class.fa-chevron-down]="showMenu === 'honorario'" [class.fa-chevron-right]="showMenu !== 'honorario'"></i>&nbsp; Honorário</span>
			</a>
			<li class="nested" [ngClass]="{'expand' : showMenu === 'honorario' }">
				<ul class="submenu">
					<li>
						<a routerLink="/calcular/honorario/cadastro" [routerLinkActive]="['router-link-active']" class="list-group-item">
							<i class="fa fa-fw fa-dollar"></i> Registro
						</a>
					</li>
				</ul>
				<ul class="submenu">
					<li>
						<a routerLink="/calcular/honorario/cobranca" [routerLinkActive]="['router-link-active']" class="list-group-item">
							<i class="fa fa-fw fa-fax"></i> Cobrança
						</a>
					</li>
				</ul>
				<ul class="submenu">
					<li>
						<a routerLink="/calcular/honorario/proposta" [routerLinkActive]="['router-link-active']" class="list-group-item">
							<i class="fa fa-fw fa-handshake-o"></i> Proposta
						</a>
					</li>
				</ul>
			</li>
		</div>

		<div class="nested-menu" *ngIf="isInRole('Administrativo') || isInRole('Gerencial') || isInRole('Calculista')">
			<a class="list-group-item" (click)="addExpandClass('apuracao')">
				<span><i class="fa" [class.fa-chevron-down]="showMenu === 'apuracao'" [class.fa-chevron-right]="showMenu !== 'apuracao'"></i>&nbsp; Apuração</span>
			</a>
			<li class="nested" [ngClass]="{'expand' : showMenu === 'apuracao' }">
				<ul class="submenu">
					<li>
						<a routerLink="/calcular/processo/apuracao-comissao" [routerLinkActive]="['router-link-active']" class="list-group-item">
							<i class="fa fa-fw fa-calculator"></i> Comissão
						</a>
					</li>
				</ul>
				<ul class="submenu" [hidden]="isInRole('Calculista')">
					<li>
						<a routerLink="/calcular/processo/apuracao-associados" [routerLinkActive]="['router-link-active']" class="list-group-item">
							<i class="fa fa-fw fa-calculator"></i> Associados
						</a>
					</li>
				</ul>
			</li>
		</div>

		<div class="nested-menu" *ngIf="isInRole('Gerencial')">
			<a class="list-group-item" (click)="addExpandClass('relatorios')">
				<span><i class="fa" [class.fa-chevron-down]="showMenu === 'relatorios'" [class.fa-chevron-right]="showMenu !== 'relatorios'"></i>&nbsp; Relatórios</span>
			</a>
			<li class="nested" [ngClass]="{'expand' : showMenu === 'relatorios' }">
				<ul class="submenu">
					<li>
						<a [routerLinkActive]="['router-link-active']" class="list-group-item">
							<i class="fa fa-fw fa-line-chart"></i> Financeiro
						</a>
					</li>
				</ul>
				<ul class="submenu">
					<li>
						<a [routerLinkActive]="['router-link-active']" class="list-group-item">
							<i class="fa fa-fw fa-line-chart"></i> Cliente
						</a>
					</li>
				</ul>
				<ul class="submenu">
					<li>
						<a [routerLinkActive]="['router-link-active']" class="list-group-item">
							<i class="fa fa-fw fa-line-chart"></i> Equipe
						</a>
					</li>
				</ul>
			</li>
		</div>

		<div class="nested-menu" *ngIf="isInRole('Administrativo')">
			<a class="list-group-item" (click)="addExpandClass('parametrizacao')">
				<span><i class="fa" [class.fa-chevron-down]="showMenu === 'parametrizacao'" [class.fa-chevron-right]="showMenu !== 'parametrizacao'"></i>&nbsp; Parametrização</span>
			</a>
			<li class="nested" [ngClass]="{'expand' : showMenu === 'parametrizacao' }">
				<ul class="submenu">
					<li>
						<a routerLink="/calcular/atividade/tipo" [routerLinkActive]="['router-link-active']" class="list-group-item">
							<i class="fa fa-fw fa-table"></i> Atividade
						</a>
					</li>
					<li>
						<a routerLink="/calcular/comissao/cadastro" [routerLinkActive]="['router-link-active']" class="list-group-item">
							<i class="fa fa-fw fa-table"></i> Comissão
						</a>
					</li>
				</ul>
			</li>
		</div>

		<div class="nested-menu">
			<a class="list-group-item" (click)="addExpandClass('usuario')">
				<span><i class="fa" [class.fa-chevron-down]="showMenu === 'usuario'" [class.fa-chevron-right]="showMenu !== 'usuario'"></i>&nbsp; Usuário</span>
			</a>
			<li class="nested" [ngClass]="{'expand' : showMenu === 'usuario' }">
				<ul class="submenu">
					<li *ngIf="isInRole('Gerencial')">
						<a routerLink="/calcular/usuario" [routerLinkActive]="['router-link-active']" class="list-group-item">
							<i class="fa fa-fw fa-table"></i> Cadastro
						</a>
					</li>
					<li>
						<a routerLink="/calcular/usuario/alterarSenha" [routerLinkActive]="['router-link-active']" class="list-group-item">
							<i class="fa fa-fw fa-table"></i> Alterar Senha
						</a>
					</li>
				</ul>
			</li>
		</div>
	</ul>
</nav>