<div class="container-fluid">
	<!-- Page Heading -->
	<div class="row">
		<div class="col-xl-12">
			<ol class="breadcrumb">
				<li><a href="Javascript:void(0);" routerLink="/calcular/home">Calcular</a></li>
				<li class="active"> Processo </li>
			</ol>
		</div>
	</div>
	<div class="row">
		<div class="col-xl-6">
		</div>
		<div class="form-group input-group col-xl-4">
			<input type="text" class="form-control" [(ngModel)]="filterText" (keydown.Enter)="filter()">
			<span class="input-group-btn"><button class="btn btn-secondary" (click)="filter()" type="button"><i class="fa fa-search"></i></button></span>
		</div>
		<div class="col-xl-2 text-center">
			<a class="btn btn-primary" routerLink="/calcular/processo/detail"><i class="fa fa-plus"></i> Adicionar</a>
		</div>
	</div>
	<div class="row">
		<div class="table-responsive">
			<table class="table table-hover table-striped table-sm">
				<thead>
					<tr>
						<th width="65"></th>
						<th width="200">Nº Processo</th>
						<th width="160">Autor</th>
						<th width="160">Réu</th>
						<th width="90">Vara</th>
						<th width="170">Advogado/Cliente</th>
						<th >Empresa</th>
						<th width="85">Honorário</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let item of rows">
						<td>
							&nbsp;
							<a [routerLink]="['/calcular/processo/detail', {id: item.id}]"><i class="fa fa-edit"></i></a> &nbsp;
							<a (click)="closeModal.show()"><i class="fa fa-remove"></i></a>
							<div bsModal #closeModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
								aria-hidden="true">
								<div class="modal-dialog modal-sm">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title">Deseja excluir o registro?</h5>
										</div>
										<div class="modal-footer">
											<button type="button" (click)="closeModal.hide()" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
											<button type="button" (click)="onDelete(item.id); closeModal.hide()" class="btn btn-primary">Excluir</button>
										</div>
									</div>
								</div>
							</div>
						</td>
						<td>{{ item.numero }}</td>
						<td>{{ item.autor }}</td>
						<td>{{ item.reu }}</td>
						<td>{{ item.vara }}</td>
						<td>{{ item.advogado?.nome }}</td>
						<td>{{ item.advogado?.empresa }}</td>
						<td>{{ item.honorario }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xl-12 centered">
			<pagination previousText="Anterior" nextText="Próximo" firstText="Primeira" lastText="Última" [totalItems]="totalItems" [(ngModel)]="currentPage"
				[itemsPerPage]="itemsPerPage" [maxSize]="maxSize" class="pagination-sm" [boundaryLinks]="true" [rotate]="false" (numPages)="numPages = $event"
				(pageChanged)="onPageChange($event)">
			</pagination>
		</div>
	</div>
</div>