<div class="container-fluid" [ngBusy]="busy">
	<!-- Page Heading -->
	<div class="row">
		<div class="col-xl-12">
			<ol class="breadcrumb">
				<li><a href="Javascript:void(0);" routerLink="/calcular/home">Calcular</a>
				</li>
				<li><a href="Javascript:void(0);" routerLink="/calcular/atividade/execucao">Serviço</a>
				</li>
				<li class="active">
					Execução de Atividade
				</li>
			</ol>
		</div>
	</div>
	<div class="row col-xl-12">
		<form role="form" #form="ngForm">
			<fieldset [disabled]="model.tipoExecucao !== 0">
				<div class="row">
					<div class="form-group col-lg-3">
						<label>Processo:</label>
						<input class="form-control" [ngModel]="model.servico?.processo?.numero" name="numero" disabled required>
					</div>
					<div class="form-group col-lg-3">
						<label>Parte:</label>
						<select class="form-control" id="parteSelect" [ngModel]="model.servico?.processo?.parte" name="parteSelect" disabled>
                            <option *ngFor="let item of parte" [ngValue]="item.key">{{item.value}}</option>
                        </select>
					</div>
					<div class="form-group col-lg-2">
						<label>Prazo:</label>
						<input type="date" class="form-control" id="prazo" #prazo="ngModel" [ngModel]="model.servico?.prazo" name="prazo" disabled/>
					</div>
					<div class="form-group col-lg-1">
					</div>
				</div>

				<div class="row">
					<div class="form-group col-lg-4">
						<label>Advogado/Cliente:</label>
						<input class="form-control" id="advogado" [ngModel]="model.servico?.processo?.advogado?.nome" name="advogado" disabled/>
					</div>
					<div class="form-group col-lg-4">
						<label>Autor:</label>
						<input class="form-control" id="autor" [ngModel]="model.servico?.processo?.autor" name="autor" disabled/>
					</div>
					<div class="form-group col-lg-4">
						<label>Réu:</label>
						<input class="form-control" id="reu" [ngModel]="model.servico?.processo?.reu" name="reu" disabled/>
					</div>
				</div>

				<!--Bloco de Exibição de atividade Origem-->
				<div class="card card-block" *ngIf="model.atividadeOrigemId">
					<div class="row">
						<div class="col-lg-6">
							<div class="row">
								<div class="form-group col-lg-8">
									<label *ngIf="model.etapaAtividade === 1">Atividade à Revisar:</label>
									<label *ngIf="model.etapaAtividade === 2">Atividade à Refazer:</label>
									<select class="form-control" id="atividadeOrigemSelect" [ngModel]="model.atividadeOrigem?.tipoAtividadeId" name="atividadeOrigemSelect"
										disabled>
                                <option *ngFor="let item of tipoAtividade" [ngValue]="item.key">{{item.value}}</option>
                            </select>
								</div>
								<div class="form-group col-lg-4">
									<label>Data de Entrega:</label>
									<input type="date" class="form-control" id="entregaOrigem" #entregaOrigem="ngModel" [ngModel]="model.atividadeOrigem?.entrega"
										name="entregaOrigen" disabled/>
								</div>
							</div>

							<div class="row">
								<div class="form-group col-lg-8">
									<label *ngIf="model.etapaAtividade === 1">Responsável:</label>
									<label *ngIf="model.etapaAtividade === 2">Revisor:</label>
									<input class="form-control" id="responsavelOrigem" [ngModel]="model.atividadeOrigem?.responsavel?.name" name="responsavelOrigem"
										disabled/>
								</div>
								<div class="form-group col-lg-4">
									<label>Tipo de Impressão:</label>
									<select class="form-control" id="tipoImpressaoOrigem" [ngModel]="model.atividadeOrigem?.tipoImpressao" name="tipoImpressaoOrigem"
										disabled>
										<option *ngFor="let item of tipoImpressao" [ngValue]="item.key">{{item.value}}</option>
									</select>
								</div>
							</div>
						</div>

						<div class="form-group col-lg-6">
							<label>Observações:</label>
							<textarea class="form-control" rows="4" id="observacaoOrigem" [ngModel]="model.atividadeOrigem?.observacao" name="observacaoOrigem"
								disabled></textarea>
						</div>
					</div>
				</div>


				<!--Bloco de Execução de atividade Original e Refazer. não é exibido quando Revisão-->
				<div class="card card-block" *ngIf="model.etapaAtividade !== 1">
					<div class="row">
						<div class="form-group col-lg-4">
							<label>Atividade:</label>
							<input class="form-control" value="Refazer" disabled *ngIf="model.etapaAtividade === 2" />
							<select class="form-control" id="atividadeSelect" [(ngModel)]="model.tipoAtividadeId" name="atividadeSelect" (ngModelChange)="changeAtividade($event)"
								*ngIf="model.etapaAtividade === 0" disabled>
                                <option *ngFor="let item of tipoAtividade" [ngValue]="item.key">{{item.value}}</option>
                            </select>
						</div>
						<div class="form-group col-lg-2">
							<label>Data de Entrega:</label>
							<input type="date" class="form-control" id="entrega" #entrega="ngModel" [ngModel]="model.entrega" (ngModelChange)="model.entrega = $event"
								name="entrega" required/>
						</div>
						<div class="form-group col-lg-2">
							<label>Tempo:</label>
							<input class="form-control" id="tempo" [textMask]="{mask: maskTimespan}" [(ngModel)]="model.tempo" name="tempo" required />
						</div>

						<div class="form-group col-lg-2">
							<label>Status:</label>
							<select class="form-control" id="tipoExecucao" [(ngModel)]="model.tipoExecucaoNew" name="tipoExecucao" required>
								<option value="1">Finalizado</option>
								<option value="2">Revisar</option>
							</select>
						</div>
						<div class="form-group col-lg-2" *ngIf="model.etapaAtividade === 0">
							<label>Tipo de Impressão:</label>
							<select class="form-control" [(ngModel)]="model.tipoImpressao" name="tipoImpressao" [required]="model.etapaAtividade === 0">
								<option *ngFor="let item of tipoImpressao" [ngValue]="item.key">{{item.value}}</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-lg-6">
							<label>Observação para comissão:</label>
							<textarea class="form-control" rows="2" [(ngModel)]="model.observacaoComissao" name="observacaoComissao"></textarea>
						</div>
						<div class="form-group col-lg-6" [hidden]="model.tipoExecucaoNew != 2">
							<label>Observação para Revisor:</label>
							<textarea class="form-control" rows="2" [(ngModel)]="model.observacao" name="observacao"></textarea>
						</div>
					</div>
				</div>

				<!--Bloco de execução de Revisão. só é exibido quando atividade for de Revisão-->
				<div class="card card-block" *ngIf="model.etapaAtividade === 1">
					<div class="row">
						<div class="form-group col-lg-4">
							<div class="row">
								<div class="form-group col-lg-12">
									<label>Atividade:</label>
									<input class="form-control" value="Revisão" disabled/>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-lg-6">
									<label>Data de Entrega:</label>
									<input type="date" class="form-control" id="entrega" #entrega="ngModel" [ngModel]="model.entrega" (ngModelChange)="model.entrega = $event"
										name="entrega" required/>
								</div>
								<div class="form-group col-lg-6">
									<label>Status:</label>
									<select class="form-control" id="tipoExecucao" [(ngModel)]="model.tipoExecucaoNew" name="tipoExecucao" required>
										<option value="1">Finalizado</option>
										<option value="3">Refazer</option>
									</select>
								</div>
							</div>
						</div>
						<div class="form-group col-lg-8">
							<div class="form-group col-lg-6">
								<label [hidden]="model.tipoExecucaoNew == 1">Observações para Refazer:</label>
								<textarea [hidden]="model.tipoExecucaoNew == 1" class="form-control" rows="4" id="observacao" [(ngModel)]="model.observacao" name="observacao"></textarea>
							</div>
							<div class="form-group col-lg-6">
								<label>Observações apenas para Revisor:</label>
								<textarea class="form-control" rows="4" [(ngModel)]="model.observacaoRevisor" name="observacaoRevisor"></textarea>
							</div>
						</div>
					</div>
				</div>
			</fieldset>
			<div class="row">
				<div class="form-group col-lg-8">
				</div>
				<div class="col-lg-2">
					<label>&nbsp;</label>
					<button routerLink="/calcular/atividade/execucao" class="btn btn-default btn-block">Fechar</button>
				</div>
				<div class="col-lg-2 text-center">
					<label>&nbsp;</label>
					<button class="btn btn-primary btn-block" [disabled]="!form.form.valid" (click)="onSubmit()">Salvar</button>
				</div>
			</div>
		</form>
	</div>
</div>