<div class="container-fluid" [ngBusy]="busy">
	<!-- Page Heading -->
	<div class="row">
		<div class="col-xl-12">
			<ol class="breadcrumb">
				<li>
					<a href="Javascript:void(0);" routerLink="/calcular/home">Calcular</a>
				</li>
				<li class="active">
					Registro de Serviços
				</li>
			</ol>
		</div>
	</div>
	<div class="row">
		<div class="col-xl-6">
		</div>
		<div class="form-group input-group col-xl-4">
			<input type="text" class="form-control" [(ngModel)]="filterText" (keydown.Enter)="filter()">
			<span class="input-group-btn"><button class="btn btn-secondary" (click)="filter()" type="button"><i class="fa fa-search"></i></button></span>
		</div>
		<div class="col-xl-2 text-center">
			<a class="btn btn-primary" routerLink="/calcular/servico/detail"><i class="fa fa-plus"></i> Adicionar</a>
		</div>
	</div>
	<div class="row">
		<div class="table-responsive">
			<table class="table table-hover table-striped table-sm">
				<thead>
					<tr>
						<th width="50"></th>
						<th width="200">Nº Processo</th>
						<th width="100">Autor</th>
						<th width="100">Réu</th>
						<th width="100">Advogado/Cliente</th>
						<th>Atividade</th>
						<th>Responsável</th>
						<th>Impressão</th>
						<th width="90">Prazo</th>
						<th width="80">Status</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let item of rows">
						<td>
							&nbsp;
							&nbsp;
							<a [routerLink]="['/calcular/servico/detail', {id: item.id}]"><i class="fa fa-calculator"></i></a> &nbsp;
						</td>
						<td>{{ item.processo?.numero }}</td>
						<td>{{ item.processo?.autor }}</td>
						<td>{{ item.processo?.reu }}</td>
						<td>{{ item.processo?.advogado?.nome }}</td>
						<td>{{ item.atividades[0]?.tipoAtividade?.nome }}</td>
						<td>{{ item.atividades[0]?.responsavel?.name }}</td>
						<td>{{ item.impressaoDescricao }}</td>
						<td>{{ item.prazo | date:"dd/MM/yyyy" }}</td>
						<td>{{ item.status === 0 ? 'Pendente' : 'Entregue'  }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xl-12 centered">
			<pagination previousText="Anterior" nextText="Próximo" firstText="Primeira" lastText="Última" [totalItems]="totalItems" [(ngModel)]="currentPage"
				[itemsPerPage]="itemsPerPage" [maxSize]="maxSize" class="pagination-sm" [boundaryLinks]="true" [rotate]="false" (numPages)="numPages = $event"
				(pageChanged)="onPageChange($event)">
			</pagination>
		</div>
	</div>
</div>