<div class="container-fluid" [ngBusy]="busy">
	<!-- Page Heading -->
	<div class="row">
		<div class="col-xl-12">
			<ol class="breadcrumb">
				<li>
					<a href="Javascript:void(0);" routerLink="/calcular/home">Calcular</a>
				</li>
				<li class="active"> Apuração </li>
			</ol>
		</div>
	</div>
	<form role="form" #form="ngForm">
		<div class="row">
			<div class="col-xl-4">
			</div>
			<div class="col-xl-3">
				<label>Responsável:</label>
				<select class="form-control" [(ngModel)]="responsavel" name="responsavelSelect" [disabled]="!isAdminOrGerencial">
					<option></option>
					<option *ngFor="let item of responsavelList" [ngValue]="item">{{item.nome}}</option>
				</select>
			</div>
			<div class="col-xl-2">
				<label>Mês:</label>
				<month-picker name="mes" [(model)]="mesFilter"></month-picker>
			</div>
			<div class="col-xl-2">
				<label>Ano:</label>
				<year-picker name="year" [(model)]="anoFilter" nextMonthYear="true" yearBase="2017"></year-picker>
			</div>
			<div class="col-xl-1">
				<label>&nbsp;</label>
				<button class="btn btn-primary btn-block" (click)="filter()"><i class="fa fa-search"></i></button>
			</div>
		</div>
	</form>
	<hr>
	<div class="row">
		<div class="table-responsive">
			<table class="table table-hover table-striped table-sm">
				<thead>
					<tr>
						<th width="10"></th>
						<th width="195">Processo</th>
						<th width="60">Autores</th>
						<th width="95">Entrega</th>
						<th>Responsável</th>
						<th width="220">Atividade</th>
						<th width="60">Tempo</th>
						<th width="25"></th>
						<th width="100">Valor</th>
						<th width="100">Adicional</th>
						<th width="5"></th>
						<th width="100">Valor Final</th>
						<th width="5"></th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let item of data">
						<td></td>
						<td class="autorReuTooltip"><div tooltipHtml="Autor: {{item.atividade?.servico?.processo?.autor}}<br/>Réu: {{item.atividade?.servico?.processo?.reu}}" placement="right">{{item.atividade?.servico?.processo?.numero}}</div></td>
						<td align="center">{{item.atividade?.servico?.processo?.numeroAutores}}</td>
						<td>{{item.atividade?.servico?.saida | date:'dd/MM/yyyy'}}</td>
						<td>{{item.atividade?.responsavel?.name}}</td>
						<td>{{item.atividade?.tipoAtividade?.nome}}</td>
						<td>{{item.atividade?.tempo ? (item.atividade?.tempo | slice:0:5) : '-' }}</td>
						<td><i *ngIf="item.atividade?.observacaoComissao" class="fa fa-info-circle" tooltip="{{item.atividade?.observacaoComissao}}"></i></td>
						<td>R$ {{item?.valorBase?.toFixed(2)}}</td>
						<td>
							<input [disabled]="!allowEdit()" [textMask]="{mask: moneyMask}" class="form-control-no-padding" [(ngModel)]="item.valorAdicionalAux"
								name="valor" (change)="onCanculaValorFinal(item)">
						</td>
						<td></td>
						<td>R$ {{item?.valorFinal?.toFixed(2)}}</td>
						<td></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-lg-4">
		</div>
		<div class="col-lg-2">
			<label>&nbsp;</label>
			<button (click)="closePaymentModal.show()" *ngIf="canClosePayment()" [hidden]="!allowEdit() || edited || !data.length" class="btn btn-danger btn-block">Fechar Pagamento</button>
			<div bsModal #closePaymentModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
				aria-hidden="true">
				<div class="modal-dialog modal-sm">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Deseja fechar o pagamento?</h5>
						</div>
						<div class="modal-body">
							Após fechar o pagamento do funcionário, este não poderá ser editado.
						</div>
						<div class="modal-footer">
							<button type="button" (click)="closePaymentModal.hide()" class="btn btn-secondary" data-dismiss="modal">Não</button>
							<button type="button" (click)="closePayment(); closePaymentModal.hide()" class="btn btn-primary">Sim</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-2"> 
			<label>&nbsp;</label>
			<button (click)="submit()" *ngIf="isAdminOrGerencial" [hidden]="!allowEdit() || !data.length" class="btn btn-primary btn-block">Salvar</button>
		</div>
		<div class="col-lg-2">
			<label>Status:</label>
			<input class="form-control" id="status" name="status" disabled value="{{ closedPayment() ? 'Fechado' : 'Aberto' }}"/>
		</div>
		<div class="form-group col-lg-2">
			<label>Valor Total:</label>
			<input class="form-control" id="total" [ngModel]="getValorTotal()" [textMask]="{mask: moneyMask}" name="total" disabled/>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8">
		</div>
	</div>
	<br>
</div>