@import "../bootstrap/variables.scss";
@import "app-base.scss";

.sidebar{
    font-size: 0.9rem;
    line-height: 1.2;
}

.pagination-sm{
    text-align: center;
    display: inline-block;
    margin: 0 auto;
}

.centered {
   text-align: center;
}
.centered > div {
   display: inline-block;
   text-align: left;
}

a:hover {
 cursor:pointer;
}

table{
    font-size: 0.9rem;
}
.sidebar{
    .list-group{
        a.list-group-item{
                color : #BBB;
        }
    }
}

.breadcrumb {
  > .active {
    color: #000;
  }
}

.nested-menu {
    .list-group-item {
        cursor: pointer;
    }
    .nested {
        list-style-type: none;
    }
    ul.submenu {
        list-style-type: none;
        display: none;
    }
    & .expand {
        ul.submenu {
            list-style-type: none;
            height: auto;
            display: block;
            padding-left: 25px;
            li {
                a.list-group-item{
                background: $topnav-background-color;
                border: 0;
                border-radius: 0;
                color: #BBB;
                text-decoration: none;
                }
                a:hover{
                    background: darken($topnav-background-color, 5%);
                    color: #fff;
                }
                a.router-link-active{
                    background: darken($topnav-background-color, 5%);
                    color: #fff;
                }
                a {
                    padding: 8px;
                }
            }
        }
    }
}