<div class="container-fluid" [ngBusy]="busy">
	<!-- Page Heading -->
	<div class="row">
		<div class="col-xl-12">
			<ol class="breadcrumb">
				<li><a href="Javascript:void(0);" routerLink="/calcular/home">Calcular</a>
				</li>
				<li><a href="Javascript:void(0);" routerLink="/calcular/usuario">Usuário</a>
				</li>
				<li class="active">
					Cadastro de Usuário
				</li>
			</ol>
		</div>
	</div>
	<div class="row col-xl-12">
		<form role="form" #form="ngForm">
			<fieldset [disabled]="blockEdit">

				<div class="row">
					<div class="form-group col-lg-6">
						<label>Usuário:</label>
						<input class="form-control" id="userName" [(ngModel)]="model.userName" name="userName" [disabled]="model.id" required/>
					</div>

					<div class="form-group col-lg-6">
						<label>Nome:</label>
						<input class="form-control" id="name" [(ngModel)]="model.name" name="name" required/>
					</div>
				</div>

				<div class="row">
					<div class="form-group col-lg-6">
						<label>Email:</label>
						<input class="form-control" id="email" [(ngModel)]="model.email" name="email" required pattern="[a-z0-9!#$%&'*+\/=?^_`{|}~.-]+@[a-z0-9]([a-z0-9-]*[a-z0-9])?(\.[a-z0-9]([a-z0-9-]*[a-z0-9])?)*$"
						/>
					</div>

					<div class="form-group col-lg-3">
						<label>Data Nascimento:</label>
						<input type="date" class="form-control" id="birthDate" #date="ngModel" [ngModel]="model.birthDate" (ngModelChange)="model.birthDate = $event"
							name="birthDate" required/>
					</div>					
				</div>

				<div class="row">
					<div class="form-group col-lg-3">
						<label>Perfil</label>
						<div class="form-check form-group">
							 <ul class="list-group">
								<li class="list-group-item-sm" *ngFor="let item of roles">
									<label>
										<input type="checkbox"
											[ngModelOptions]="{standalone: true}"
											value="{{item}}"
											[(ngModel)]="item.checked"/>
										{{item.name}}
									</label>
								</li>
								<li class="list-group-item-sm">
									<input type="checkbox"
											[ngModelOptions]="{standalone: true}"
											[(ngModel)]="model.inativo"/>
										Inativo
								</li>
							</ul>
						</div>
					</div>

				</div>
			</fieldset>
			<hr>

			<div class="row">
				<div class="col-lg-2">
					<button [hidden]="!blockEdit" (click)="enableEdit()" class="btn btn-warning btn-block">Editar</button>
				</div>
				<div class="col-lg-2">
					<button [hidden]="blockEdit" (click)="closeModal.show()" class="btn btn-warning btn-block">Resetar Senha</button>
					<div bsModal #closeModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
						aria-hidden="true">
						<div class="modal-dialog modal-md">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title">Deseja resetar a senha do usuário {{model.name}}?</h5>
									<br>
									<h5 class="modal-title">Senha padrão: senha123</h5>
								</div>
								<div class="modal-footer">
									<button type="button" (click)="closeModal.hide()" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
									<button type="button" (click)="resetarSenha(); closeModal.hide()" class="btn btn-primary">Resetar</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group col-lg-4">
				</div>
				<div class="col-lg-2">
					<button routerLink="/calcular/usuario" class="btn btn-default btn-block">Cancelar</button>
				</div>
				<div class="col-lg-2">
					<button (click)="onSubmit()" [disabled]="!form.form.valid || blockEdit" class="btn btn-primary btn-block">Salvar</button>
				</div>
			</div>
		</form>
	</div>
</div>