<div class="container-fluid" [ngBusy]="busy">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-xl-12">
            <ol class="breadcrumb">
                <li><a href="Javascript:void(0);" routerLink="/calcular/home">Calcular</a>
                </li>
                <li><a href="Javascript:void(0);" routerLink="/calcular/honorario/cobranca">Honorário</a>
                </li>
                <li class="active">
                    Cobrança de Honorários
                </li>
            </ol>
        </div>
    </div>
    <div class="row col-xl-12">
        <form role="form" #form="ngForm">
            <fieldset [disabled]="false">
                <div class="row">
                    <div class="form-group col-lg-6">
                        <label>Nome:</label>
                        <input class="form-control" id="advogado" [ngModel]="model?.advogado?.nome" name="advogado" disabled/>
                    </div>

                    <div class="form-group col-lg-4">
						<label>Perfil:</label>
						<select class="form-control" id="perfilSelect" [ngModel]="model?.advogado?.perfil" name="perfilSelect" disabled>
							<option *ngFor="let item of perfil" [ngValue]="item.key">{{item.value}}</option>
						</select>
					</div>
                </div>

                <div class="row">
                    <div class="form-group col-lg-6">
						<label>Empresa:</label>
						<input class="form-control" id="empresa" [ngModel]="model?.advogado?.empresa" name="empresa" disabled>
					</div>
                    
                    <div class="form-group col-lg-4">
                        <label>Honorários:</label>
                        <input class="form-control" id="honorarios" [ngModel]="model?.advogado?.honorarios" name="honorarios" disabled/>
                    </div>
                    <div class="col-lg-2">
                        <label>&nbsp;</label>
                        <button (click)="printModal.show()" class="btn btn-default btn-block">Imprimir</button>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-lg-3">
						<label>Telefone:</label>
						<input id="telefone" [ngModel]="model?.advogado?.telefone" name="telefone" class="form-control" disabled />
					</div>
					<div class="form-group col-lg-3">
						<label>Celular:</label>
						<input id="celular" [ngModel]="model?.advogado?.celular" name="celular" class="form-control" disabled />
					</div>
                    <div class="form-group col-lg-2">
                        <label>Valor Total:</label>
                        <input class="form-control" id="totalHonorarios" [textMask]="{mask: moneyMask}" [ngModel]="model?.totalHonorarios?.toFixed(2)" name="totalHonorarios" disabled/>
                    </div>
                    <div class="form-group col-lg-2">
                        <label>Valor Pendente:</label>
                        <input class="form-control" id="totalPendente" [textMask]="{mask: moneyMask}" [ngModel]="model?.totalPendente?.toFixed(2)" name="totalPendente" disabled/>
                    </div>
                    <div class="col-lg-2 text-center">
                        <label>&nbsp;</label>
                        <button class="btn btn-primary btn-block" [hidden]="isAddCobranca" (click)="isAddCobranca = true">Nova Cobrança</button>
                    </div>
                </div>
            </fieldset>
            <br>

            <div class="card card-block" >
                <fieldset [hidden]="!isAddCobranca">
                    <div class="row">
                        <div class="form-group col-lg-2">
                            <label>Data Cobrança:</label>
                            <input type="date" class="form-control" id="dataCobranca" [ngModel]="cobranca.dataCobranca" (ngModelChange)="cobranca.dataCobranca = $event"
                                name="dataCobranca" required/>
                        </div>
                        <div class="form-group col-lg-2">
                            <label>Previsao Pagamento:</label>
                            <input type="date" class="form-control" id="previsaoPagamento" [ngModel]="cobranca.previsaoPagamento"
                                (ngModelChange)="cobranca.previsaoPagamento = $event" name="previsaoPagamento"/>
                        </div>
                        <div class="form-group col-lg-3">
                            <label>Contato:</label>
                            <input class="form-control" ng2-auto-complete [source]="contato" id="contato" [(ngModel)]="cobranca.contato" name="contato"
                                min-chars="2" [accept-user-input]="true" required/>
                        </div>
                        <div class="form-group col-lg-4">
                            <label>Observação:</label>
                            <input class="form-control" id="observacao" [(ngModel)]="cobranca.observacao" name="observacao" />
                        </div>
                        <div class="col-lg-1 text-center">
                            <label>&nbsp;</label>
                            <button class="btn btn-primary btn-block" (click)="addCobranca()" [disabled]="!form.form.valid || anySelected()"><i class="fa fa-check"></i></button>
                        </div>
                    </div>
                </fieldset>
                <br>
                <div class="table-responsive">
                    <table class="table table-hover table-striped table-sm">
                        <thead>
                            <tr>
                                <th width="30" [hidden]="!isAddCobranca">
                                    &nbsp; <input type="checkbox" [ngModel]="" (ngModelChange)="selectAll($event)" [ngModelOptions]="{standalone: true}"></th>
                                <th width="42"></th>
                                <th width="200">Nº Processo</th>
                                <th>Autor</th>
                                <th>Réu</th>
						        <th width="25"></th>
                                <th width="90">Data Cobrança</th>
                                <th width="100">Previsão Pagamento</th>
                                <th width="90">Prazo</th>
                                <th width="100">Valor Pendente</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of model?.processos">
                                <td [hidden]="!isAddCobranca">
                                    &nbsp;
                                    <input type="checkbox" #{{item.id}} [(ngModel)]="item.selected" [ngModelOptions]="{standalone: true}">
                                </td>
                                <td align="center">
                                    <a [routerLink]="['/calcular/honorario/detail', {id: item.id}]"><i class="fa fa-fax"></i></a>
                                </td>
                                <td>{{ item.numero }}</td>
                                <td>{{ item.autor }}</td>
                                <td>{{ item.reu }}</td>
                                <td><i *ngIf="item.ultimaCobranca?.observacao || item.ultimaCobranca?.contato" class="fa fa-info-circle" tooltip="{{item.ultimaCobranca?.contato + '  -  ' + (item.ultimaCobranca?.observacao ? item.ultimaCobranca?.observacao : '')}}"></i></td>
                                <td>{{ item.ultimaCobranca?.dataCobranca | date:"dd/MM/yyyy" }}</td>
                                <td>{{ item.ultimaCobranca?.previsaoPagamento | date:"dd/MM/yyyy" }}</td>
                                <td>{{ item.prazo | date:"dd/MM/yyyy" }}</td>
                                <td>R$ {{item?.total?.toFixed(2)}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-lg-10">
                </div>
                <!--<div class="col-lg-2 text-center">
                    <label>&nbsp;</label>
                    <button class="btn btn-primary btn-block" (click)="saveCobranca()"><i class="fa fa-plus"></i> Salvar</button>
                </div>-->
                <div class="col-lg-2">
                    <label>&nbsp;</label>
                    <button routerLink="/calcular/honorario/cobranca" class="btn btn-default btn-block">Fechar</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div bsModal #printModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" align="right">
                <button type="button" (click)="printModal.hide()" class="btn btn-secondary" data-dismiss="modal">Fechar</button>                &nbsp;&nbsp;
                <button type="button" (click)="print()" class="btn btn-primary">Imprimir</button>
            </div>
            <div class="modal-content" style="padding-left: 20px; padding-right: 20px;">
                <div align="center" id="print-section">
                    <div style="font-size: 18px !important; text-align: left;">
                    <br>
                    <b>Nome:</b>
                    <label>{{ model?.advogado?.nome }} </label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <b>Empresa:</b>
                    <label>{{ model?.advogado?.empresa }} </label>
                    <br>
                    <br>
                    </div>
                    <table class="table table-sm" style="border-collapse: collapse">
                        <thead>
                            <tr class="border_bottom">
                                <th width="260">Nº Processo</th>
                                <th width="90">Parte</th>
                                <th width="180">Autor</th>
                                <th width="180">Réu</th>
                                <th width="90">Data Cobrança</th>
                                <th width="100">Previsão Pagamento</th>
                                <th width="100">Valor Pendente</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="border_bottom" *ngFor="let item of model?.processos">
                                <td>{{ item.numero }}</td>
                                <td>{{ showParte(item.parte) }}</td>
                                <td>{{ item.autor }}</td>
                                <td>{{ item.reu }}</td>
                                <td>{{ item.ultimaCobranca?.dataCobranca | date:"dd/MM/yyyy" }}</td>
                                <td>{{ item.ultimaCobranca?.previsaoPagamento | date:"dd/MM/yyyy" }}</td>
                                <td>R$ {{item?.total?.toFixed(2)}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
            </div>
        </div>
    </div>
    </div>