<div class="container-fluid" [ngBusy]="busy">
	<!-- Page Heading -->
	<div class="row">
		<div class="col-xl-12">
			<ol class="breadcrumb">
				<li>
					<a href="Javascript:void(0);" routerLink="/calcular/home">Calcular</a>
				</li>
				<li class="active">Cobrança de Honorários</li>
			</ol>
		</div>
	</div>
	<div class="row">
		<div class="col-xl-6">
		</div>
		<div class="col-xl-2">
			<label><input type="checkbox" [(ngModel)]="all" (ngModelChange)="filter()" /> Pagos</label>
		</div>
		<div class="form-group input-group col-xl-4">
			<input type="text" class="form-control" [(ngModel)]="filterText" (keydown.Enter)="filter()">
			<span class="input-group-btn"><button class="btn btn-secondary" (click)="filter()" type="button"><i class="fa fa-search"></i></button></span>
		</div>
		<!--<div class="col-xl-2 text-center">
			<a class="btn btn-primary" routerLink="/calcular/honorario/cobranca/detail"><i class="fa fa-plus"></i> Adicionar</a>
		</div>-->
	</div>
	<div class="row">
		<div class="table-responsive">
			<table class="table table-hover table-striped table-sm">
				<thead>
					<tr>
						<th width="46"></th>
						<th width="200">Advogado/Cliente</th>
						<th >Empresa</th>
						<th width="110">Nº Processos Pendentes</th>
						<th width="130">Última Cobrança</th>
						<th width="110">Valor Total</th>
						<th width="110">Valor Pendente</th>
						<th width="130">Status</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let item of rows">
						<td align="center">
							<a [routerLink]="['/calcular/honorario/cobranca/detail', {id: item.advogado?.id, status: item.statusHonorario}]"><i class="fa fa-fax"></i></a>
						</td>
						<td>{{ item.advogado?.nome }}</td>
						<td>{{ item.advogado?.empresa }}</td>
						<td>{{ item.totalProcessosPendentes }}</td>
						<td>{{ item.dataCobranca ? (item.dataCobranca | date:"dd/MM/yyyy" ) : '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-' }}</td>
						<td>R$ {{item.totalHonorarios?.toFixed(2)}}</td>
						<td>R$ {{item.totalPendente?.toFixed(2)}}</td>
						<td>{{ item.statusHonorario ? item.statusHonorario : '&nbsp;&nbsp;&nbsp;&nbsp;-' }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xl-12 centered">
			<pagination previousText="Anterior" nextText="Próximo" firstText="Primeira" lastText="Última" [totalItems]="totalItems" [(ngModel)]="currentPage"
				[itemsPerPage]="itemsPerPage" [maxSize]="maxSize" class="pagination-sm" [boundaryLinks]="true" [rotate]="false" (numPages)="numPages = $event"
				(pageChanged)="onPageChange($event)">
			</pagination>
		</div>
	</div>
</div>